<h1>Data Science Tools and Ecosystem</h1>

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
<li>Popular Data Science Languages</li>
<li>Popular Data Science Tools</li>
<li>Common Libraries</li>
</ul>

<strong>Objectives:</strong>
<ul>
<li>Popular Data Science Languages</li>
<li>Popular Data Science Tools</li>
<li>Common Libraries</li>
</ul>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

<table>
<tr>
    <th>Data Science Tools</th>
    </tr>
<tr>
    <td>R Studio</td>
    </tr>
<tr>
    <td>Apache Spark</td>
    </tr>
<tr>
    <td>Jupyter Notebooks</td>
    </tr>
</table>

<table>
<tr>
    <th>Data Science Tools</th>
    </tr>
<tr>
    <td>R Studio</td>
    </tr>
<tr>
    <td>Apache Spark</td>
    </tr>
<tr>
    <td>Jupyter Notebooks</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.
</h3>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.
</h3>

In [1]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes/60
hours

3.3333333333333335